<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
   <!-- Include navbar partial -->
   <%- include('partials/navbar', { page: '/home' }) %>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/"></a>
    </div>

    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost sm:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/lego/sets">View Collection</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <details>
            <summary>Account</summary>
            <ul class="p-2 bg-base-100 right-0">
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>

    <div class="navbar-center hidden sm:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/lego/sets">View Collection</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <details>
            <summary>Account</summary>
            <ul class="p-2 bg-base-100 right-0">
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>

  <br />

  <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
              <div class="max-w-lg">
                  <h1 class="text-5xl font-bold">Embark on an Epic Journey through our Lego Collection</h1>
      
                  <p class="py-6">Set sail on a voyage of imagination and discovery amidst our extensive LEGO collection, where every brick tells a story and every creation sparks wonder.</p>
              
                  <a href="/lego/sets" class="btn btn-primary">Explore Sets</a>
              </div>
          </div>
      </div>
  </div>

  <br>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>

          <div class="card bg-base-100 shadow-xl">
              <figure>
              <img class="w-full" src="https://cdn.rebrickable.com/media/sets/1000577871-1.jpg" alt="Lego set - 70437-1">
              </figure>
              <div class="card-body">
              <h2 class="card-title">Marvel Avengers - PC</h2>
              <p>Embark on a journey through us with this Avengers LEGO set, released in london by Khan in 2016. Re-released in 1969 as an fun learning game for children.</p>
                  <div class="card-actions justify-end">
                          <a href="/lego/sets/1000577871-1" class="btn btn-primary">View</a>
                  </div>
              </div>

          </div>

      </div>

      <div>
        <div class="card bg-base-100 shadow-xl">
          <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/1000591519-1.jpg" alt="Lego Set 70436-1">
          </figure>
          <div class="card-body">
            <h2 class="card-title">	Star Wars: The Force Awakens - 3DS</h2>
            <p>Set sail for adventure with this captivating LEGO set, released in America (USA/CAN) by Khan in 2016. </p>
            <div class="card-actions justify-end">
                <a href="/lego/sets/1000591519-1" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>

      <div>
      <div class="card bg-base-100 shadow-xl">
          <figure>
          <img class="w-full " src="https://cdn.rebrickable.com/media/sets/10006-1.jpg" alt="Lego Set - 70425-1">
          </figure>
          <div class="card-body">
          <h2 class="card-title">1 x 6 Sand Red Bricks</h2>
          <p>Rev up your imagination with the LEGO®. This interactive playset , offering a adrenaline rush  experience like no other.</p>
              <div class="card-actions justify-end">
                  <a href="/lego/sets/10006-1" class="btn btn-primary">View</a>
              </div>
          </div>
      </div>

      </div>
  </div>
  
</body>

</html>
